/* src/styles/globals.css */

/* Global styles */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Use a modern sans-serif font */
}

body {
  background-color: #f0f2f5; /* Light gray background color */
  color: #054D40; /* Text color from the logo */
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: #054D40; /* Dark green color from the logo */
}

/* Container for centering content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.input {
  margin-bottom: 15px; /* Increased margin for better spacing */
  padding: 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px; /* Consistent font size */
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #2c8f40; /* Focus border color */
  outline: none;
}

.button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #054D40; /* Green color from the logo */
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #03352c; /* Darker green on hover */
}

p {
  margin-bottom: 15px;
  color: #054D40; /* Text color from the logo */
}

a {
  color: #2d5c2e; /* Green color from the logo */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #1e3e1e; /* Darker green on hover */
}

.logo {
  width: 400px; /* Adjust size as needed */
  margin-bottom: -170px;
  margin-top: -180px;
}
