.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-color: #f7f9fc;
  }
  
  .heading {
    color: #054D40;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #054D40;
    text-align: left;
  }
  
  .input {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #054D40;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #043D30;
    outline: none;
  }
  
  .button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background-color: #054D40;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #043D30;
    transform: translateY(-2px);
  }
  
  .button:active {
    transform: translateY(0);
  }
  
  .selectInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  